.CircleContainer {
    position: relative;
    height: 64px;
    width: 64px;
}

.Number {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
